---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="wHBTHOBAvMyXGYPSvJRY8rINl", oauth_nonce="a9b37fdd7326f7ada60d5aaaf2627280",
        oauth_signature="PNAzZTLr6LjU1GdFiRnB%2Fx5r79w%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450379699", oauth_token="4586543058-7I99doFE7OO0OzwEmSvzFy6S4NpqltmmraDGHlQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 19:15:00 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 1e37e3cbfd1a6b29d8b44e532ef9241b
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '176'
      X-Rate-Limit-Reset:
      - '1450380460'
      X-Response-Time:
      - '27'
      X-Transaction:
      - c56c811ecf02f398
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Dec 17 18:20:22 +0000 2015","id":677553938984398848,"id_str":"677553938984398848","text":"new
        test tweet","source":"\u003ca href=\"https:\/\/cryptic-hamlet-4622.herokuapp.com\/\"
        rel=\"nofollow\"\u003eTweet4Trump\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":4586543058,"id_str":"4586543058","name":"Tyler
        Testing","screen_name":"testtylertweet","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":2,"friends_count":40,"listed_count":0,"created_at":"Thu
        Dec 17 18:16:47 +0000 2015","favourites_count":1,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":true,"retweeted":false,"lang":"en"}]'
  recorded_at: Thu, 17 Dec 2015 19:15:00 GMT
recorded_with: VCR 3.0.0
