---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="wHBTHOBAvMyXGYPSvJRY8rINl", oauth_nonce="9c9b43e776bbe9056cf38180eec4b218",
        oauth_signature="Rk%2FjFpdnSk2ZQJ5keg4jXU67GAo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450379701", oauth_token="3329994973-NuiiuLNYiEE2Kh2g0hhxYFEtnrc2JUCOqQFAjQS",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 19:15:01 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 9531d850596d6fd720866c3ce2b0d741
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '176'
      X-Rate-Limit-Reset:
      - '1450380401'
      X-Response-Time:
      - '33'
      X-Transaction:
      - 06171d1788cca08b
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Dec 17 17:51:04 +0000 2015","id":677546565943214080,"id_str":"677546565943214080","text":"@patwey
        testing 1-2-3","source":"\u003ca href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter
        Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":2249777102,"in_reply_to_user_id_str":"2249777102","in_reply_to_screen_name":"patwey","user":{"id":3329994973,"id_str":"3329994973","name":"Tyler
        Komoroske","screen_name":"tyler_komoroske","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":12,"friends_count":0,"listed_count":1,"created_at":"Mon
        Aug 24 20:34:43 +0000 2015","favourites_count":3,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":14,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/677377494714978311\/t4W03ajl_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/677377494714978311\/t4W03ajl_normal.jpg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"patwey","name":"Pat
        Wey","id":2249777102,"id_str":"2249777102","indices":[0,7]}],"urls":[]},"favorited":true,"retweeted":false,"lang":"en"},{"created_at":"Thu
        Dec 17 06:41:15 +0000 2015","id":677378001756020737,"id_str":"677378001756020737","text":"trump","source":"\u003ca
        href=\"https:\/\/cryptic-hamlet-4622.herokuapp.com\/\" rel=\"nofollow\"\u003eTweet4Trump\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3329994973,"id_str":"3329994973","name":"Tyl[...]
