---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="wHBTHOBAvMyXGYPSvJRY8rINl", oauth_nonce="3c36e47655378c8ae0b16ceea140105f",
        oauth_signature="IHlvkZlh4EG%2ByP0yIyytVYNbrMk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450328849", oauth_token="3329994973-NuiiuLNYiEE2Kh2g0hhxYFEtnrc2JUCOqQFAjQS",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 05:07:30 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 0efb0633a9fb2e4f5ec1ce9e23897074
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1450329750'
      X-Response-Time:
      - '30'
      X-Transaction:
      - c9f0566028a69919
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Dec 17 03:09:26 +0000 2015","id":677324696925290496,"id_str":"677324696925290496","text":"more
        tweets","source":"\u003ca href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter
        Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3329994973,"id_str":"3329994973","name":"Tyler
        Komoroske","screen_name":"tyler_komoroske","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":12,"friends_count":0,"listed_count":1,"created_at":"Mon
        Aug 24 20:34:43 +0000 2015","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":11,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_4_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_4_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Thu
        Dec 17 01:25:08 +0000 2015","id":677298449000235012,"id_str":"677298449000235012","text":"new
        tweet","source":"\u003ca href=\"https:\/\/cryptic-hamlet-4622.herokuapp.com\/\"
        rel=\"nofollow\"\u003eTweet4Trump\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3329994973,"id_str":"3329994973"[...]
